In [4]:
import pandas as pd

# Caminho para o arquivo CSV
csv_file_path = '/home/rodrigo/Documentos/mestrado/GitHub/imagens_csv/swedish/train/leaf01/l1nr065_csv.csv'

# Ler o arquivo CSV
df = pd.read_csv(csv_file_path)

# Exibir as primeiras linhas do DataFrame
print(df.head())

# Exibir informações sobre o DataFrame
print(df.info())

Empty DataFrame
Columns: [3.32754703443878, 1.10450239943312, 0.495012203885435, 0.500588801777176, 1.41007000283006, 3.12507237853816, 3.32792570153061, 1.1013450173197, 0.493923647212069, 0.501817142438018, 1.40828391538473, 3.12315473709851, 3.38944913903061, 1.04462249684796, 0.512919215846191, 0.48689820562682, 1.41710341608271, 3.13964566077989, 9.04181281887755, 1.56279792467945, 0.473849056264551, 0.478604225814734, 2.52352144989082, 7.66219084099473, 9.21195392219388, 1.33398242823266, 0.491115207028657, 0.478862551279848, 2.49635769496553, 7.56358646015104, 6.58808992346939, 4.67982480335519, 0.517999483018753, 0.609463759387929, 1.89751521507695, 5.058197239537, 0.0333167368280491, 0.0333167368280492, 0.412675367052385, 0.0493070263513939, 0.076611721088429, 0.0773072239973983, 0.559646887319091, 0.130445666660977, 0.596302722802216, 0.600377678225707, 0.423863345411905, 0.563796328187535, 0.370345692937569, 0.366562765160135, 0.408315197837038, 0.379186711795365, 6.70296145444244, 6.71008840455708, 9.6989756525316, 9.65105770210489, 46.5791137745792, 46.6479911496303, 96.0324662129062, 95.3462201746244, 0.0327759008446831, 0.0327759008446832, 0.422791070929335, 0.0434295545823533, 0.0740065409426627, 0.0747518962602034, 0.575124128409396, 0.117238777214729, 0.584703243657581, 0.600853544630045, 0.423884228535962, 0.605692820169687, 0.380025283689116, 0.36717188293398, 0.406592597032944, 0.358496810451482, 6.68637727508136, 6.70685658087763, 9.70906269606632, 9.66026364713277, 46.421331695531, 46.6163665807784, 96.1670580239609, 95.4543894769878, 0.0420125463651718, 0.0420125463651714, 0.0238239674233193, 0.766553824471267, 0.108740390584799, 0.107236234761461, 0.109766984200124, 1.08512179144742, 0.662654241190906, 0.620052881014441, 0.952092582610487, 0.437036461851985, 0.309563754058454, 0.342792023997974, 0.04695145632999, 0.394844359204962, ...]
Index: []

[0 rows x 1296 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Columns: 1296 entries, 3.32754703443878 to 912.244262629499
dtypes: object(1296)
memory usage: 132.0+ bytes
None

In [5]:
df

Empty DataFrame
Columns: [3.32754703443878, 1.10450239943312, 0.495012203885435, 0.500588801777176, 1.41007000283006, 3.12507237853816, 3.32792570153061, 1.1013450173197, 0.493923647212069, 0.501817142438018, 1.40828391538473, 3.12315473709851, 3.38944913903061, 1.04462249684796, 0.512919215846191, 0.48689820562682, 1.41710341608271, 3.13964566077989, 9.04181281887755, 1.56279792467945, 0.473849056264551, 0.478604225814734, 2.52352144989082, 7.66219084099473, 9.21195392219388, 1.33398242823266, 0.491115207028657, 0.478862551279848, 2.49635769496553, 7.56358646015104, 6.58808992346939, 4.67982480335519, 0.517999483018753, 0.609463759387929, 1.89751521507695, 5.058197239537, 0.0333167368280491, 0.0333167368280492, 0.412675367052385, 0.0493070263513939, 0.076611721088429, 0.0773072239973983, 0.559646887319091, 0.130445666660977, 0.596302722802216, 0.600377678225707, 0.423863345411905, 0.563796328187535, 0.370345692937569, 0.366562765160135, 0.408315197837038, 0.379186711795365, 6.70296145444244, 6.71008840455708, 9.6989756525316, 9.65105770210489, 46.5791137745792, 46.6479911496303, 96.0324662129062, 95.3462201746244, 0.0327759008446831, 0.0327759008446832, 0.422791070929335, 0.0434295545823533, 0.0740065409426627, 0.0747518962602034, 0.575124128409396, 0.117238777214729, 0.584703243657581, 0.600853544630045, 0.423884228535962, 0.605692820169687, 0.380025283689116, 0.36717188293398, 0.406592597032944, 0.358496810451482, 6.68637727508136, 6.70685658087763, 9.70906269606632, 9.66026364713277, 46.421331695531, 46.6163665807784, 96.1670580239609, 95.4543894769878, 0.0420125463651718, 0.0420125463651714, 0.0238239674233193, 0.766553824471267, 0.108740390584799, 0.107236234761461, 0.109766984200124, 1.08512179144742, 0.662654241190906, 0.620052881014441, 0.952092582610487, 0.437036461851985, 0.309563754058454, 0.342792023997974, 0.04695145632999, 0.394844359204962, ...]
Index: []

[0 rows x 1296 columns]

In [ ]:
import torch

if torch.cuda.is_available():
    print("CUDA está disponível!")
else:
    print("CUDA não está disponível.")

CUDA está disponível!