In [1]:
import pandas as pd

# Caminho para o arquivo CSV
csv_file_path = '/home/rodrigo/Documentos/mestrado/GitHub/imagens_csv/swedish/train/leaf01/l1nr001_csv.csv'

# Ler o arquivo CSV
df = pd.read_csv(csv_file_path)

# Exibir as primeiras linhas do DataFrame
print(df.head())

# Exibir informações sobre o DataFrame
print(df.info())

Empty DataFrame
Columns: [3.28262515943878, 1.11623515401701, 0.468120751307439, 0.525654648202798, 1.37623629676382, 3.07824884175618, 3.28411989795918, 1.11072667052505, 0.468150808134957, 0.526851861193533, 1.37015617940475, 3.06983215116802, 3.36493542729592, 1.04568934969211, 0.494308270697095, 0.505980857075235, 1.39166855762387, 3.10608461694933, 8.94748485331633, 1.5984211354733, 0.438426285076022, 0.504760472124121, 2.47384440210124, 7.50806016884221, 9.1994778380102, 1.30933885513086, 0.471340644960352, 0.500472212721904, 2.44132851656728, 7.37326424762692, 6.34685905612245, 4.75229840281112, 0.503186298578494, 0.630088135797475, 1.80076230326665, 4.63061273776971, 0.0338690002970376, 0.0338690002970377, 0.4666875923559, 0.0487447394564502, 0.0759130736769243, 0.0766895438521257, 0.604401534952341, 0.123466752863842, 0.565729340629149, 0.564836906423573, 0.393112436030021, 0.525835211204519, 0.395999366715395, 0.39416550036184, 0.416715851986712, 0.413226740822036, 6.65433315432926, 6.66509698399621, 9.66235664829364, 9.53784557283226, 46.1127316009417, 46.2221868939502, 95.5468498129046, 93.7871871750281, 0.0332661516783827, 0.0332661516783828, 0.475233986543466, 0.0443525678067233, 0.0744266549744104, 0.0755285734216259, 0.617079466217749, 0.122454321689557, 0.566914883716461, 0.567711755862985, 0.392817264892121, 0.594940602605614, 0.395349690934124, 0.395639649289487, 0.413086975941809, 0.36877305560934, 6.65510090097169, 6.65282249049097, 9.68637994591828, 9.63357209234253, 46.1205098580015, 46.0980283278816, 95.8687477146619, 95.0842736878804, 0.0400325882248706, 0.0400325882248703, 0.0236011509545107, 0.872425422590694, 0.109122353351353, 0.109382119510671, 0.106811314236311, 1.17665263981805, 0.656729367314553, 0.636113287954716, 0.948596556352507, 0.405903689516728, 0.316275271767187, 0.341224579870797, 0.0502853201149324, 0.403038740569105, ...]
Index: []

[0 rows x 1296 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Columns: 1296 entries, 3.28262515943878 to 875.947566690897
dtypes: object(1296)
memory usage: 132.0+ bytes
None

In [2]:
df

Empty DataFrame
Columns: [3.28262515943878, 1.11623515401701, 0.468120751307439, 0.525654648202798, 1.37623629676382, 3.07824884175618, 3.28411989795918, 1.11072667052505, 0.468150808134957, 0.526851861193533, 1.37015617940475, 3.06983215116802, 3.36493542729592, 1.04568934969211, 0.494308270697095, 0.505980857075235, 1.39166855762387, 3.10608461694933, 8.94748485331633, 1.5984211354733, 0.438426285076022, 0.504760472124121, 2.47384440210124, 7.50806016884221, 9.1994778380102, 1.30933885513086, 0.471340644960352, 0.500472212721904, 2.44132851656728, 7.37326424762692, 6.34685905612245, 4.75229840281112, 0.503186298578494, 0.630088135797475, 1.80076230326665, 4.63061273776971, 0.0338690002970376, 0.0338690002970377, 0.4666875923559, 0.0487447394564502, 0.0759130736769243, 0.0766895438521257, 0.604401534952341, 0.123466752863842, 0.565729340629149, 0.564836906423573, 0.393112436030021, 0.525835211204519, 0.395999366715395, 0.39416550036184, 0.416715851986712, 0.413226740822036, 6.65433315432926, 6.66509698399621, 9.66235664829364, 9.53784557283226, 46.1127316009417, 46.2221868939502, 95.5468498129046, 93.7871871750281, 0.0332661516783827, 0.0332661516783828, 0.475233986543466, 0.0443525678067233, 0.0744266549744104, 0.0755285734216259, 0.617079466217749, 0.122454321689557, 0.566914883716461, 0.567711755862985, 0.392817264892121, 0.594940602605614, 0.395349690934124, 0.395639649289487, 0.413086975941809, 0.36877305560934, 6.65510090097169, 6.65282249049097, 9.68637994591828, 9.63357209234253, 46.1205098580015, 46.0980283278816, 95.8687477146619, 95.0842736878804, 0.0400325882248706, 0.0400325882248703, 0.0236011509545107, 0.872425422590694, 0.109122353351353, 0.109382119510671, 0.106811314236311, 1.17665263981805, 0.656729367314553, 0.636113287954716, 0.948596556352507, 0.405903689516728, 0.316275271767187, 0.341224579870797, 0.0502853201149324, 0.403038740569105, ...]
Index: []

[0 rows x 1296 columns]